header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    border-bottom: 2px solid grey;
}

body {
    background-color: #000000;
}

h1 {
    color: #ffffff;
    font-size: 20p;
}

h2 {
    font-family: "Yeseva One", serif;
    color: #ffffff;
    font-size: 35pt;
}

h3 {
    color: #00ffa9;
    text-align: left;
    font-family: "Montserrat", serif;
    font-size: 30pt;
}

h4 {
    color: #ffffff;
    font-size: 12pt;
}

h5 {
    color: #000000;
    font-size: 8;

}

p {
    color: #969ba4;
    font-size: 15pt;
}

i {
    color: #ffffff;
}

.grid img:nth-child(n + 10) {
    display: flex;
    justify-content: space-around;
    align-items: center
}

nav {
    padding-left: 10%;
}

footer {
    padding-left: 10%;
}


div {
    color: #ffffff;
    font-family: "Yeseva One", serif;
    display: flex;
    justify-content: center;
    gap: 30px;
}

div p {
    color: #969ba4;
    font-size: 15pt;
    display: flex;
    justify-content: center;
}

span {
    background-color: #00ffa9;
    height: 60px;
}