header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    background-color: #000000;
}

h1 {
    color: #ffffff;
    font-size: 80%;
    font-weight: 65%;
}

h2 {
    color: #ffffff;

    font-family: "Yeseva One", serif;
    font-weight: 400;
}

h3 {
    color: #00ffa9;
    text-align: left;
    font-family: "Montserrat";
    font-weight: 9999;
}


p {
    color: #969ba4;
}

i {
    color: #ffffff;
}

.grid img:nth-child(n + 10) {
    display: flex;
    justify-content: space-around;
    align-items: center
}

div {
    display: flex;
    justify-content: center;
    padding: auto;
}